<ActionBar class="action-bar">
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label *ngIf="item" class="action-bar-title" [text]="item.name"></Label>
</ActionBar>

<GridLayout rows="*">


            <TabView  col="0" row="0" *ngIf="item" >

                    <StackLayout *tabItem="{title: 'Details'}">
                        <Label class="m-10 h3" verticalAlignment="top" [text]="item.name"></Label>

                        <Label class="m-10 h3" textWrap="true" verticalAlignment="top" [text]="item.description"></Label>


                        <Label class="m-10 h3" [text]="'Races: ' + item.race_count"></Label>
                        <Label class="m-10 h3" [text]="'Members:  ' + item.member_count"></Label>

                        <Outcome *ngIf="item.outcome" [item]="item.outcome"></Outcome>

                        <Button *ngIf="item.joined == false" (tap)="join(item.id)" text="JOIN"></Button>
                        <Button *ngIf="item.joined == true" (tap)="unjoin(item.id)" text="UNJOIN"></Button>


                    </StackLayout>

                    <StackLayout *tabItem="{title: 'Members'}">
                        <ListView style="height:100%"  [items]="item.members" class="list-group">
                            <ng-template let-item="item">
                                <SimpleInfo [item]="item"></SimpleInfo>
                            </ng-template>
                        </ListView>
                    </StackLayout>
                    <StackLayout *tabItem="{title: 'Races'}">
                        <ListView style="height:100%"  [items]="item.races" class="list-group">
                            <ng-template let-item="item">
                                <SimpleInfo [item]="item"></SimpleInfo>
                            </ng-template>
                        </ListView>
                    </StackLayout>
            </TabView>



    <ActivityIndicator
        col="0" row="0"
        [busy]="loading"
        class="loader"
    ></ActivityIndicator>

</GridLayout>