<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Races"></Label>
</ActionBar>

<GridLayout class="page page-content">

    <TabView>
                <StackLayout *tabItem="{title: 'Planned'}">
                        <ListView style="height:100%" *ngIf="items" [items]="getPlannedRaces()" class="list-group">
                                <ng-template let-item="item">
                                    <Race [item]="item"></Race>
                                </ng-template>
                            </ListView>
                </StackLayout>
                <StackLayout *tabItem="{title: 'Finished'}">
                        <ListView style="height:100%" *ngIf="items" [items]="getFinishedRaces()" class="list-group">
                                <ng-template let-item="item">
                                    <Race [item]="item"></Race>
                                </ng-template>
                            </ListView>
                </StackLayout>
                <StackLayout *tabItem="{title: 'Total'}">
                    <Outcome *ngIf="totalOutcome" [item]="totalOutcome"></Outcome>
                </StackLayout>
    </TabView>




    <ActivityIndicator
        col="0" row="0"
        [busy]="loading"
        class="loader"
    ></ActivityIndicator>

</GridLayout>