<StackLayout class="m-10">
    <Label class="text-uppercase text-left" text="Total"></Label>

    <Label class="text-right">
        <FormattedString>
            <Span [text]="item.total.kg"></Span>
            <Span text=" kg / "></Span>
            <Span [text]="item.total.lt"></Span>
            <Span text=" lt"></Span>
        </FormattedString>
    </Label>

    <StackLayout class="hr-light m-10"></StackLayout>

    <Label class="text-uppercase text-left" text="Metal"></Label>

    <Label class="text-right">
            <FormattedString>
                <Span [text]="item.metal.kg"></Span>
                <Span text=" kg / "></Span>
                <Span [text]="item.metal.lt"></Span>
                <Span text=" lt"></Span>
            </FormattedString>
        </Label>

    <StackLayout class="hr-light m-10"></StackLayout>

    <Label class="text-uppercase text-left" text="Plastic"></Label>

    <Label class="text-right">
            <FormattedString>
                <Span [text]="item.plastic.kg"></Span>
                <Span text=" kg / "></Span>
                <Span [text]="item.plastic.lt"></Span>
                <Span text=" lt"></Span>
            </FormattedString>
        </Label>

    <StackLayout class="hr-light m-15 p-5"></StackLayout>

    <Label class="text-uppercase text-left" text="Glass"></Label>


    <Label class="text-right">
            <FormattedString>
                <Span [text]="item.glass.kg"></Span>
                <Span text=" kg / "></Span>
                <Span [text]="item.glass.lt"></Span>
                <Span text=" lt"></Span>
            </FormattedString>
        </Label>

</StackLayout>