
<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Profile"></Label>
</ActionBar>

<GridLayout class="page page-content">

    <StackLayout *ngIf="member" col="0" row="0">

            <Label class="m-10 h2" verticalAlignment="top" [text]="member.name"></Label>
            <Label class="m-10 h3" textWrap="true" verticalAlignment="top" [text]="member.description"></Label>

            <Outcome *ngIf="member.outcome" [item]="member.outcome"></Outcome>
            <Button  *ngIf="loggedUser" text="Sign Out" (tap)="signOut()"></Button>

    </StackLayout>

    <Button col="0" row="0" *ngIf="!loggedUser" text="Sign In" [nsRouterLink]="['../signin']"></Button>

    <ActivityIndicator
        col="0" row="0"
        [busy]="loading"
        class="loader"
    ></ActivityIndicator>

</GridLayout>