<ActionBar class="action-bar">
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label *ngIf="item" class="action-bar-title" [text]="item.name"></Label>
</ActionBar>

<GridLayout rows="*">

        <TabView  col="0" row="0" *ngIf="item" >

                <StackLayout *tabItem="{title: 'Details'}">
                    <Label class="m-10 h2" verticalAlignment="top" [text]="item.name"></Label>
                    <Label class="m-10 h3" textWrap="true" verticalAlignment="top" [text]="item.description"></Label>

                    <Outcome *ngIf="item.outcome" [item]="item.outcome"></Outcome>
                </StackLayout>

                <StackLayout *tabItem="{title: 'Races'}">
                    <ListView style="height:100%"  [items]="item.races" class="list-group">
                        <ng-template let-item="item">
                                <SimpleInfo [item]="item"></SimpleInfo>
                        </ng-template>
                    </ListView>
                </StackLayout>

        </TabView>

    <ActivityIndicator
        col="0" row="0"
        [busy]="loading"
        class="loader"
    ></ActivityIndicator>

</GridLayout>