

<GridLayout style="height:200" rows="" columns="">
    <Image
        stretch="fill" src="https://picsum.photos/800/300"
        style="margin-top:3"
    ></Image>
    <Label [nsRouterLink]="['../team', item.id]" [text]="item.name" class="race-title"></Label>
    <Label
        class="race-date"
    >
         <FormattedString>
            <Span [text]="'members: ' + item.member_count + ' '"></Span>
            <Span [text]="'races: ' + item.race_count"></Span>
        </FormattedString>
</Label>
</GridLayout>